{
  "bootstrapServerUri": "http://bootstrap-server/device_name",
  "enableTopic": "devices/device_name/microphone/doEnable",
  "disableTopic": "devices/device_name/microphone/doDisable",
  "microphoneName": "Line In"
}
